nodered/flows.json
[{"id":"4716ce52.8deb7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"733ab297.b0496c","type":"http in","z":"4716ce52.8deb7","name":"","url":"echo","method":"post","upload":false,"swaggerDoc":"","x":150,"y":140,"wires":[["db2be9c2.57a9f8","8aa59a7a.44cfc8"]]},{"id":"4edf0dda.f46d34","type":"http response","z":"4716ce52.8deb7","name":"","statusCode":"200","headers":{"ECHO":"DONE"},"x":560,"y":140,"wires":[]},{"id":"db2be9c2.57a9f8","type":"debug","z":"4716ce52.8deb7","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"req.body","targetType":"msg","x":400,"y":220,"wires":[]},{"id":"8aa59a7a.44cfc8","type":"function","z":"4716ce52.8deb7","name":"","func":"msg.payload = {\n 'ECHO':'FLOW DONE!!!'\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["4edf0dda.f46d34"]]}]